.ChatMobileHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 58px;
  flex-shrink: 0;
  min-height: 58px;
  max-height: 58px;
  background: #fff;
  padding: 0 12px;
  height: 58px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
.ChatMobileHeader .logo {
  height: 32px;
}
.iconButtonPopover {
  max-width: 95.55%;
}
@media (min-width: 376px) {
  .iconButtonPopover {
    max-width: 83.27%;
  }
}
.iconButtonPopover :global(.adm-popover-inner) {
  max-width: 100%;
}
